{% extends 'compras/base.html'%}

{% block content %}

    <div class="center">
        <h4>¿Quiénes somos?</h4>
        Somos un grupo de estudiantes de la Escuela de Emprendimiento, que junto a estudiantes de la Escuela de Informática,<br>hemos dsarrollado una idea que permitirá a usuarios elaborar listas de compras, con la intención de ordenar los presupuestos de gastos y mejorar sus finanzas de estos.<br>A su vez, nuestro objetivo, es que el sistema, ayude en la gestión de productos, como también, poder solicitar agregar una tienda al sistema,<br>para posteriores compras que pueda realizar el usuario durante el día.        
    </div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock %}