{% extends 'compras/base.html'%}

{% block content %}

    <div class="center">
    <h4>¿Qué servicio prestamos?</h4>
    <br>
    El servicio que prestamos, es la gestión de comprar y realización de listas de compras.<br>Este permite a los usuarios, registrar las compras realizadas y solicitar que una tienda sea agregada al sistema,<br>obviamente, las solicitudes las debes revisar alguién del staff, para posteriormente aprobar la solicitud y agregarla al sistema.
    </div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock %}